@charset "utf-8";
@layoutResize;
/*==generic styles==*/
html {
margin : 0; 
padding : 0; 
color : #333; 
text-align : center;
}

body  {
font-family: Georgia, serif; 
text-align:center;
margin: 0;
padding: 0;
}

div,h1,h2,h3,h4,h5,h6,p,address,ul,ol,li {
margin: 0px;
padding: 0px;
}

blockquote{
font-size:1em; font-family:Georgia, 'Times New Roman', Times, serif; font-weight:normal; letter-spacing:.15em;
text-align:left;
}

img, img a {
border:none; 
}

img, div , a, input, p, h{
behavior: url(_ressources/iepngfix.htc)
}

a:link, a:visited{
font-weight:bold;
color:#15107f;
text-decoration:none;
border-bottom: 2px dotted #15107f;
}

a:hover, a:active{
cursor:pointer;
color:#305e99;
border-bottom: 1px dashed #305e99;
}



h1{
font-size:200%; font-family:Georgia, 'Times New Roman', Times, serif; font-weight:normal; font-variant:small-caps; letter-spacing:.1em;
text-align:center;
}

h2{
font-size:100%; font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; font-variant:small-caps; letter-spacing:.1em;
text-align:center;
border-bottom: 2px solid #eeedf8;
padding-top: 0.5em;
}

h3{
font-size:95%; font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; font-variant:small-caps; letter-spacing:.1em;
text-align:center;
border-bottom: 2px solid #eeedf8;
padding-bottom: 0.5em;
}

h4{
font-size:90%; font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; font-variant:small-caps; letter-spacing:.1em;
text-align:center;
border-bottom: 2px solid #eeedf8;
padding-bottom: 0.2em;
}

strong {
font-weight: bold;
color: #CC0000;
}

p{
font-size: .8em;
line-height:100%;
word-spacing:.15em;
}

dl{
position:relative;
margin: 0;
padding: .25em 0 0 0;
}

dt{
display: inline; 
margin: 0;
padding: 0;
font-size: 80%;
font-weight: normal;
}

dd{
display: inline;
margin: 0;
padding: 0;
color: #666;
}

td{
margin: 0;
padding: 0;
color: #666;
}
/*=====columns layout======*/

div#wrapper{
margin:0 120px 0 120px;
padding:0;
width:860px;
list-style-type:none;
}

div#wrapper h1{
margin:2px auto 0;
}

div#content{
margin:0 10px;
padding:0;
width:840px;
background:url(../_images/container1_1.png) repeat-y;
}



div#content blockquote{
width:45em;
margin:0.2em auto;
padding:0.5em 2em 0.5em 2em;
font-size:12pt; 
text-align:left;
background:url(../_images/blockquote.png) repeat;
}

div#mainContent{
display:table;
width:840px;
margin: 0 auto;
}

div#mainContent h3{
font-size:12pt;
}

div#subContent{
display:table-row;
}

div#subContent p{
padding-top:1em;
line-height:1.5;
font-size:10pt;
}

div#subContentLeft, div#subContentMiddle, div#subContentRight{
float:left;
/display:inline;
/zoom:1;
vertical-align:top;
margin:1em;
padding:1em 0.25em;
width:235px;
text-align:left;
line-height:1.5;
background-color:#eeedf8;
}

div#subContentMiddle ul{
list-style-type:disc;
}
div#subContentLeft p,div#subContentMiddle,div#subContentRight p{
padding:0.25em;
line-height:1.6;
font-size:9pt;
}
div#subContentMiddle{
background-color:#ffffff;
}

div#subContentRight img{
margin: 0 20px 0 20px;

}

/*======navMain======*/

div#navMain{
width:860px;
margin:0 auto;
padding:0;
}

ul#mainMenu {
list-style-type: none;
position: relative;
width:800px;
height: 90px;
margin: 5px 0 0 150px;
padding: 2.5em 0 0 1.5em;

}

#navMain ul{
list-style-type: none;
padding: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0.5em;
}

li#nm1{
position: absolute;
top: 1px;
left: 0;
width: 140px;
height: 45px;
background: url(../_images/li_navMain.png) no-repeat 0 0;
}

li#nm2{
position: absolute;
top: 1px;
left: 140px;
width: 140px;
height: 45px;
background: url(../_images/li_navMain.png) no-repeat -140px 0;
}

li#nm3{
position: absolute;
top: 1px;
left: 280px;
width: 140px;
height: 45px;
background: url(../_images/li_navMain.png) no-repeat -280px 0;
}

li#nm4{
position: absolute;
top: 1px;
left: 420px;
width: 140px;
height: 45px;
background: url(../_images/li_navMain.png) no-repeat -420px 0;
}

li#nm5{
position: absolute;
top: 1px;
left: 560px;
width: 145px;
height: 45px;
background: url(../_images/li_navMain.png) no-repeat -560px 0;
}


ul#mainMenu a{
display: block;
width: 140px;
height: 60px;
text-indent: -9999px;
text-decoration: none;
border-bottom:none;
overflow: hidden;
}

li#nm1 a:hover{
width: 140px;
height: 50px;
background: url(../_images/li_navMain.png) no-repeat 0px -50px;
border:none;
}

li#nm2 a:hover{
width: 140px;
height: 50px;
background: url(../_images/li_navMain.png) no-repeat -140px -50px;
border:none;
}

li#nm3 a:hover{
width: 140px;
height: 50px;
background: url(../_images/li_navMain.png) no-repeat -280px -50px;
border:none;
}


li#nm4 a:hover{
width: 140px;
height: 50px;
background: url(../_images/li_navMain.png) no-repeat -430px -50px;
border:none;
}

li#nm5 a:hover{
width: 140px;
height: 50px;
background: url(../_images/li_navMain.png) no-repeat -570px -50px;
border:none;
}


li#nm1 .current{
position: absolute;
top: 1px;
left: 0;
width: 140px;
height: 45px;
background: url(../_images/li_navCurrent.png) no-repeat 0px 0px;
}

li#nm2 .current{
position: absolute;
top: 1px;
left: 0px;
width: 140px;
height: 45px;
background: url(../_images/li_navCurrent.png) no-repeat -140px 0;
}

li#nm3 .current{
position: absolute;
top: 1px;
left: 0px;
width: 140px;
height: 45px;
background: url(../_images/li_navCurrent.png) no-repeat -290px 0;
}

li#nm4 .current{
position: absolute;
top: 1px;
left: 0px;
width: 140px;
height: 45px;
background: url(../_images/li_navCurrent.png) no-repeat -430px 0;
}

li#nm5 .current{
position: absolute;
top: 1px;
left:0px;
width: 155px;
height: 45px;
background: url(../_images/li_navCurrent.png) no-repeat -570px 0;
}

ul#mainMenu a{
display: block;
width: 100px;
height: 37px;
text-indent: -9999px;
text-decoration: none;
overflow: hidden;
}


/*=======header======*/
#header{
background:#fff url(../_images/agileLogo2.png) no-repeat;
background-position: 5px; 
background-attachment:fixed;
margin:0;
padding:0;
}

#wrapper1{
margin:0  auto;
padding:0;
width:60em;
}

/*=======banner========*/

div#bannerContainer{
margin:0;
padding:0;
width:840px;
height:200px;
border-bottom:2px solid #eeedf8;
}


/*======container========*/


div#container{
width:860px;
margin:0 auto;   
padding:0.5em 0.75em;
background:#f6f5fe url(../_images/container4.png) no-repeat;
text-align:left;
overflow:hidden;
}

/*======container1 (index)========*/
div#container1{
width:860px;
margin:-50px auto;   
padding:0.5em 0.75em;
background:url(../_images/container1_1.png) repeat-y;
text-align:left;
overflow:hidden;
}
/*======mainContent1=======*/
div#mainContent1{
display:inline;
zoom:1;
margin:0 40px 0 80px;
width:800px;
text-align:left;
background:url(../_images/container1_1.png) repeat-y;
}

div#mainContent1 p{
margin:0;
padding: .5em;
font-size:100%;
line-height:1.5;
}

div#inscriptions{
margin: 0 auto;
padding:5em 10em;
}


h4#sponsorStatus{
padding-top:3em;
}

ul#direction{
padding-left:3em;
}

#mainContent1 li{
margin-left:3em;
padding:3em;
}

#mainContent1 table{
margin-top:2em;
padding:0.5em;
}

#mainContent1 h4.button{
margin:0.25em auto;
padding:0;
width:300px;
height:100px;
background: #e2e0ff;
}

#mainContent1 ul.orateur li,div#mainContent ul#direction li{
margin:0 3.5em;
padding:0.25em;
}
/*=====details=======*/
div#details{
margin:0 auto;
width:40em;
padding-left:10em;
}


div#details ul {
list-style-type:none;
margin:0.5em auto;
padding:0 2em 0 0;
font-family: Georgia, "Times New Roman", Times, serif; font-size:0.8em;
font-size:1.2em;
line-height:1.8;
text-align: left;
}

div#details li {
padding:0em 1em 0.2em 1em;
}

#details li#point2{
margin-top:0.5em;
}

div#details p {
margin:0 0.5em 0 3em;
padding:0 0.15em 0.15em 1em;
font-size:12pt;
vertical-align:top;
}

div#details  img{
vertical-align:middle;
}
/*=======flashgallery_1========*/

#footer{
width:50em; height:5em;
margin: 0 auto;
padding: 0.5em 1em 0.5em 0;
/position: absolute;
/top:200px;
/margin: -500px 200px 200px 0;
/padding:0.5em 5em 0.5em 0;
border-top:3px solid #eeedf8;
}

/* ===== sponsors ===== */


#sponsor1{
/display:inline;
/zoom:1;
position:absolute;
top:420px;
left:-8em;
width:140px;
margin:0 10px 0 0;
padding:0;
}

#sponsor2{
position:absolute;
top:420px;
left:34em;
margin: 0 0 0 350px;
padding:0;
width:140px;
}

#sponsor1 ul, #sponsor2 ul{
list-style-type: none;
margin: 0;
padding: 0;
}

#sponsor1 h4, #sponsor2 h4, h4.bouton{
font-size:8pt;
background-color:#e2e0ff;
}
#sponsor1 li,#sponsor2 li{
left: 0; 
padding: 2em 0.5em;
}
#sponsor1 a:link,#sponsor2 a:link{
border:none;
}

#sponsor1 a:hover,#sponsor2 a:hover{
border-bottom:1px solid #305e99;
}



h4.warning{
padding: .8em;
color:#bd0000;
}

p.warning{
padding: .8em;
font-weight:bold;
}


/*====Table===== */
caption { 
margin-top:2em;
padding : .5em;
background : #e2e0ff;
font-weight:bold;
font-size:1.2em;
letter-spacing : .2em;
}

table {
display: inline-table;
margin:0 25px 10px 25px;
width:47.5em;
border : 1px solid #305e99;
 }
th {
text-align:center;
background : #eeedf8;
padding : 1em .7em 1em .7em;
font-weight : bold;
}

tbody td, tbody th { padding : .5em;
}
td { padding : 0 10px;
font-size:.8em;
border:1px solid #e2e0ff;
}

/*====SkipLinks===*/

#skipLinks {
	font-size: 80%;
}
#skipLinks ul {
	margin: 0px;
	padding: 0px;
}
#skipLinks li {
	background-image: none;
	margin: 0px;
	position: absolute;
}
#skipLinks a {
	color: #FFFFFF;
	position: absolute;
	margin-left: -9000px;
}
#skipLinks a:focus, #skipLinks a:active {
	display: block;
	width: 11em;
	margin-left: 50px;
}

.offleft {
	margin-left: -9000px;
	position: absolute;
}

/*====Forms===== */
/*==fieldset==*/
form{
margin:0 25px 0 25px;
padding:0;
width:460px;
}

fieldset { 
margin: 20px auto;
width : 45em;
background: #e2e0ff;
border-right: 1px solid #eeedf8;
border-bottom: 1px solid #eeedf8;
border-top-style: none;
border-left-style: none;
padding: 20px;
overflow : hidden; }

fieldset input{
width: 45%;
border: 1px solid #305e99;
}

fieldset input:hover { border-color : #bd0000; }
fieldset input:active, input:focus { border-color : #900; }

/* label/label span */
label, label span { display : block; padding-bottom : .25em; }
label { float : left; width : 100%; }
label span { float: left; width: 85%; text-align: left; }

fieldset:hover { border-color : #722549; }

fieldset img{
margin:0;
padding:0.2em;
}

fieldset ol {
	margin: 0px auto;
	padding: 1em;
	list-style-type: none;
}
fieldset li {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0.5em;
	margin-left: 0px;
	background-image: none;
}

legend {
	font-weight: bold;
	margin-left: 1em;
	padding:0.25em;
	background: #e2e0ff;

}


#mainContent #webform-client-form-5 legend {
background: #e2e0ff;
margin-top: -5px;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 0.8em;
padding: 5px 10px;
text-transform: uppercase;
letter-spacing: 0.1em;
}
#mainContent #webform-client-form-5 input.text {
	width: 200px;
}
#mainContent #webform-client-form-5 input.text:focus , #mainContent #webform-client-form-5 textarea:focus{
	background: #305e99;
	border: 1px solid #305e99;
}

#mainContent #webform-client-form-5 p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.8em;
	color: #444;
}

select#edit-submitted-tarif {
float:left;
}
form div {clear:both; margin-bottom:20px; padding:10px 20px; text-align:center; }

/* submit button */
form div input{
margin:0;
padding: 0 .25em;
background-color: #305e99;
border: 2px double #e0e1fd; 
border-top-color: #305e99;
font: bold 92% Georgia, "Times New Roman", Times, serif;
color: #fff;
text-transform: uppercase;
}

form div input:hover{
background-color: #e0e1fd;
color:#305e99;
}

/* Captcha */
form img{
float:left;
margin:0;
padding: 0 .25em;
}
/*=======Tables (Programme)=============*/

#mainContent #program{
margin:0 25px 0 25px;
padding:0;
width:150px;
}

table#prog{
/display:table;
margin:0;
padding:0;
width:60em;
}

ul.table{
list-style:none;
text-align:left;
}

.data1{
background:#fcffe6;
}

.data2{
background:#FDE4C4;
}

.data3{
background:#fde1fa;
}

.data4{
background:#e3fde1;
}

.data5{
background:#CFE1F9;
}

.data6{
background:#E59191;
}

.data7{
background:#DBC4F5;
}

.data8{
background:#B0D8AE;
}

.data9{
background:#E0D8D8;
}

li.data1,li.data2,li.data3,li.data4,li.data5,li.data6,li.data7,li.data8,li.data9{
list-style:none;
width:860px;
margin:0 auto;
padding:0.5em 3em;
color:#343333;
text-align:left;
line-height:0.8;
} 

div#sessions{
margin:0 25px 0 25px;
padding:0;
width:60em;
text-align:left;
}

#sessions h2,#sessions h4{
text-align:center;
padding: .25em 0;
}

#sessions p{
text-align:left;
padding: .25em 0;
line-height:1.2;
}

#sessions li{
margin-left:2em;
padding: .25em .15em;
}

#legende{
margin:0 25px 0 25px;
padding:0;
width:60em;
}


/* ===== Miscellaneous styles ===== */
.clear{
clear:both;
height:0;
font-size:1px;
line-height:0;
}

.widget{
width:200px;
margin:0 auto;
padding:5em;
}
